/* LAYOUT */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
}

/* MAIN */
.container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

/* FORM */
.form-card {
    width: 60%;
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 20px;
}

.sub {
    opacity: 0.7;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

input, select {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: white;
}

/* BUTTON */
button {
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: linear-gradient(45deg, #22c55e, #16a34a);
    color: white;
    cursor: pointer;
}

/* RESULT CARD */
.result-card {
    width: 40%;
    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 20px;
}

/* STATUS */
.status {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
}

.approved {
    background: rgba(34,197,94,0.2);
    color: #22c55e;
}

.rejected {
    background: rgba(239,68,68,0.2);
    color: #ef4444;
}

/* PROGRESS */
.progress {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 10px;
    margin-top: 10px;
}

.progress-bar {
    height: 10px;
    background: #22c55e;
    border-radius: 10px;
}

/* TEXT */
.percent {
    text-align: center;
    margin-top: 5px;
}

/* EXPLAIN */
.explain {
    margin-top: 20px;
}

.explain ul {
    padding-left: 20px;
}
