<!DOCTYPE html>
<html>
<head>
    <title>Loan Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2> LoanPredict</h2>

    <div>
        {% if session.user %}
            <span>Welcome {{ session.user }}</span>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</div>

<!-- HERO -->
<div class="hero">
    <h1>Loan Approval Prediction</h1>
    <p>AI-powered smart decision system</p>
</div>

<!-- CARD -->
<div class="card">

    <form method="POST" action="/predict">

        <div class="form-grid">

            <select name="Gender" required>
                <option value="">Gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>

            <select name="Married" required>
                <option value="">Married</option>
                <option>Yes</option>
                <option>No</option>
            </select>

            <select name="Dependents" required>
                <option value="">Dependents</option>
                <option>Low</option>
                <option>HIGH</option>
            </select>

            <select name="Education" required>
                <option value="">Education</option>
                <option>Graduate</option>
                <option>Not Graduate</option>
            </select>

            <select name="Self_Employed" required>
                <option value="">Self Employed</option>
                <option>Yes</option>
                <option>No</option>
            </select>

            <div class="input-box">
            <input type="number" name="LoanAmount" placeholder=" " required>
            <label>Loan Amount</label>
            </div>
            <div>
                <input type="number" name="Loan_Amount_Term" placeholder=" " required>
                <label>Loan Amount Term</label>
            </div>
            <div>
                <input type="number" name="Credit_History" placeholder="0 for No,1 for Yes">
                <label>Credit History</label>
            </div>
            

            <select name="Property_Area" required>
                <option value="">Property Area</option>
                <option>Urban</option>
                <option>Semiurban</option>
                <option>Rural</option>
            </select>

            <div>
                <input type="number" name="Family_Income" placeholder=" " >
                <label> Family Income</label>
            </div>

            
        </div>

        <button type="submit">Predict</button>
    </form>

    {% if pred == 'Y' %}
        <div class="result approved">
            Loan Approved
        </div>
    {% elif pred == 'N' %}
        <div class="result rejected">
             Loan Rejected
        </div>
    {% endif %}

</div>

</body>
</html>
