<form method="post">
    Gender 
    <select name="Gender">
        <option value="" disabled selected>Select Sex</option>
        <option value="Male">Male</option>
        <option value="Female" > Female</option>
    </select>


    Married
    <select name="Married">
        <option value="" disabled selected>Select Martial Status</option>
        <option value="Yes"> Yes </option>
        <option value="No"> No </option>
    </select>

    Dependents
    <select name="Dependents">
        <option value="" disabled selected> Select Your Dependents</option>
        <option value="Low"> LOW </option>
        <option value="HIGH"> HIGH </option>
    </select>

    Education
    <select name="Education">
        <option value="" disabled selected> Select Education</option>
        <option value="Graduate"> Graduate</option>
        <option value="Not Graduate"> Not Graduate</option>
    </select>


    Self_Employed
    <select name="Self_Employed">
        <option value="" disabled selected> Select Your Employment Status</option>
        <option value="Yes"> Yes</option>
        <option value="No"> No </option>
    </select>


    Loan Amount <input type="number" name = 'LoanAmount' placeholder="Enter your loan amount " required>
    Loan Amount Term <input type="number" name = "Loan_Amount_Term" placeholder="Enter Loan Tenture " required>
    Credit History <input type="number" name="Credit_History" placeholder="Enter Your Credit History" required>
     

    <label>Property Area</label>
    <select name="Property_Area">
        <option value="" disabled selected>Property Type</option>
        <option value="Semiurban">Semi Urban</option>
        <option value="Urban">Urban</option>
        <option value="Rural">Rural</option>
    </select>

    Family Income <input type="number" name = 'Family_Income' placeholder=" Enter your Family Income" required>


    <button type="submit">Predict</button>
</form>

<h3>
    {% if pred %}
    Bank will Approve Your Loan: {{pred}}
    {% endif %}
</h3>

<a href="/">Back to Dashboard</a>
