<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="center-box">

    <form method="POST" class="glass">

        <h2> Register</h2>

        <div class="input-box">
            <input type="text" name="name" placeholder=" " required>
            <label>Name</label>
        </div>

        <div class="input-box">
            <input type="email" name="email_id" placeholder=" " required>
            <label>Email</label>
        </div>

        <div class="input-box">
            <input type="text" name="phone_no" placeholder=" " required>
            <label>Phone</label>
        </div>

        <div class="input-box">
            <input type="password" name="password" placeholder=" " required>
            <label>Password</label>
        </div>

        <button type="submit">Create Account</button>

        {% if msg %}
            <p class="success">{{ msg }}</p>
        {% endif %}

        <p>Already have account? <a href="/login">Login</a></p>

    </form>

</div>

</body>
</html>
