<!-- <form method="post">
    NAME <input type="text" name = "name" placeholder="Enter your Name " required>
    EMAIL ID <input type="text" name = "email_id" placeholder="Enter your Email ID " required>
    PHONE NO <input type="text" name = "phone_no" placeholder="Enter your Phone NO. " required>
    PASSWORD <input type="text" name = "password" placeholder="Enter your Password " required>
    <button type="submit">create </button>
</form>

<h3>
    {% if msg %}
    {{msg}}
    {% endif %}
</h3> -->

<a href="/">Home Page</a>

<form method="post">
    NAME <input type="text" name = "name" placeholder="Enter your Name " required>
    EMAIL ID <input type="text" name = "email_id" placeholder="Enter your Email ID " required>
    PHONE NO <input type="text" name = "phone_no" placeholder="Enter your Phone NO. " required>
    PASSWORD <input type="text" name = "password" placeholder="Enter your Password " required>
    <button type="submit">create </button>
</form>

<h3>
    {% if msg %}
    {{msg}}
    {% endif %}
</h3>

<a href="/">Home Page</a>